body {
  font-family: 'Helvetica Neue';
}

#featured_slide_{
  position:relative;
  display:block;
  width:940px;
  height:540px;
  overflow:hidden;
  margin:auto;
  padding:5px;
  border:5px solid #242424;
  color:#FFF;
  background:url("images/dark1.jpg") top left repeat #242424;
  transition: background 0.5s ease-in-out;
  background-size: 950px 550px;
}
#featured_slide_:hover{
  transition: background 0.5s ease-in-out;
  background:url("images/dark.jpg");
  background-size: 950px 550px;
}
#featured_slide_:hover  .hero_content{
  font-size: 80px;
  font-family: 'Adine';
  color: #fff;
  font-weight: bolder;
  transition: content 0.5s ease-in-out;
  margin: auto;
  display:block;
}
#featured_slide_:hover .hero_bg{
  display:block;
  transition: background 0.5s ease-in-out;
}
.hero_bg{
  margin-top: 300px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: none;
  background: black;
  opacity: 0.7;
}
.featured_slide_Image{
  position:relative;
  display:none;
  float:left;
  margin:0;
  padding:0;
  width:940px;
  height:540px;
  list-style:none;
}
.featured_slide_Image{
  width:940px;
  height:540px;
}
@font-face {
  font-family: 'Adine';
  src: url('AdineKirnberg-Alternate.ttf');
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('helveticaneue-light-webfont.woff');
}
.hero_content{
  display: none;
  width: 900px;
  margin: auto;
}
