#topnav{
  display:block;
  float:right;
  width:650px;
  font-size:14px;
}
#topnav ul, #topnav li{
  margin:0;
  padding:0;
  list-style:none;
}
#topnav li{
  float:right;
  margin-right:30px;
}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
  display:block;
  margin:0;
  padding:20px 0 0 0;
  color:#CCCCCC;
  background-color:#000000;
  text-transform:uppercase;
  border-top:2px solid #FFFFFF;
  font-weight:bold;
}
#topnav li a:hover, #topnav li.active a{
  color:#ef0154;
  background-color:#000000;
  border-top-color:#ef0154;
}
#topnav li.last{
  margin-right:0;
}
